<section class="container">
  <div class="about">
    <div class="card" style="width: 25rem">
      <div class="card-body">
        <p class="card-text">
          We give you breaking news and articles from sources and blogs all over
          the web.
        </p>
      </div>
    </div>
  </div>
  <figure>
    <img class="picture" src="../../../../assets/newsletter.png" />
  </figure>
  <form>
    <h1>SUBSCRIBE TO OUR NEWSLETTER</h1>
    <h5>
      Subscribe and you’ll always find stories you want to read in your inbox.
    </h5>
    <hr />
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Full name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" />
      </div>
    </div>
    <div class="form-group row">
      <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="inputEmail3" />
      </div>
    </div>
    <br />

    <button type="submit" class="btn btn-primary">Subscribe</button>
  </form>
</section>
