main {
    background-image: url('https://i.ibb.co/K6ztMgn/leone-venter-Vie-M9-Bd-ZKFo-unsplash-1.jpg');
    background-size: cover;
    
}

.title {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding-top: 300px;
    padding-bottom: 600px;

}

h1 {
    font-family: 'Alata', sans-serif;
}

h3 {
    font-family: 'Alata', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;
}