<div class="map">
    <div class="google">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3105.010392798139!2d-77.03083838438383!3d38.90087765434359!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89b7b7f2a1416e79%3A0xa64706e7010d9457!2s1200%20New%20York%20Ave%20NW%2C%20Washington%2C%20DC%2020005%2C%20EE.%20UU.!5e0!3m2!1ses!2sar!4v1598401014605!5m2!1ses!2sar" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
      </div>
      <div class="card" style="width: 28rem;">
          <div class="card-body">
            <h5 class="card-title">CONTACT US</h5>
            <p class="card-text">
              <i class="fas fa-map-pin"></i>
              1200 New York Ave NW - Washington, DC 20005
            </p>
            <p class="card-text">
              <i class="fas fa-phone"></i>
              +44 (0)207 823 9107
            </p>
            <p class="card-text">
              <i class="far fa-envelope-open"></i>
              info@freshdaily.com
            </p>
            
          </div>
    </div>
    
</div>