<nav class="navbar navbar-light bg-light navbar-expand-lg navbar-fixed-top">
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">
          <img src="https://i.ibb.co/YNCrjfz/Pink-Circle-Gradient-Photography-Logo.gif" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
          
        </a>
      </nav>
  
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav navbar-center mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink='/news'>NEWS</a>
        </li>   
          <li class="nav-item">
            <a class="nav-link" routerLink='/contact'>CONTACT</a>
          </li>
          
            <li class="nav-item">
              <a class="nav-link" routerLink='/about'>ABOUT</a>
            </li>          
        
      </ul>
      
  
    </div>
  </nav>
  