<section class="bigContainer">
  <header>
    <h1>SELECT A CATEGORY</h1>
  </header>
  <div class="gall">
    <figure>
      <img
        type="button"
        (click)="goLatest()"
        src="https://i.ibb.co/64wpxyc/Blue-Ocean-Photo-Summer-Instagram-Post.jpg"
        alt="Lights"
        class="blocks shadow-1-strong rounded mb-4"
      />
    </figure>
    <figure>
      <img
        type="button"
        (click)="goBusiness()"
        src="https://i.ibb.co/3pXhDPV/BUSINESS.jpg"
        alt="Lights"
        class="blocks shadow-1-strong rounded mb-4"
      />
    </figure>
    <figure>
      <img
        type="button"
        (click)="goApple()"
        src="https://i.ibb.co/3dwNSxV/APPLE.jpg"
        alt="Lights"
        class="blocks shadow-1-strong rounded mb-4"
      />
    </figure>
    <figure>
      <img
        type="button"
        (click)="goTech()"
        src="https://i.ibb.co/YZY3mBy/TECH.jpg"
        alt="Lights"
        class="blocks shadow-1-strong rounded mb-4"
      />
    </figure>
    <figure>
      <img
        type="button"
        (click)="goScience()"
        src="https://i.ibb.co/74WP8c6/SCIENCE.jpg"
        alt="Lights"
        class="blocks shadow-1-strong rounded mb-4"
      />
    </figure>
    <figure>
      <img
        type="button"
        (click)="goSports()"
        src="https://i.ibb.co/MkYy79R/SPORTS.jpg"
        alt="Lights"
        class="blocks shadow-1-strong rounded mb-4"
      />
    </figure>
    <figure>
      <img
        type="button"
        (click)="goHealth()"
        src="https://i.ibb.co/VjxCknh/HEALTH.jpg"
        alt="Lights"
        class="blocks shadow-1-strong rounded mb-4"
      />
    </figure>
    <figure>
      <img
        type="button"
        (click)="goEntertainment()"
        src="https://i.ibb.co/n3sTPCR/SHOW.jpg"
        alt="Lights"
        class="blocks shadow-1-strong rounded mb-4"
      />
    </figure>
  </div>
</section>
