<div class="card text-center">

    <div class="card-body">
        <h5 class="card-title">Follow us!</h5>
        <div class="icons">
            <a href="https://www.facebook.com/profile.php?id=100009362405887" target="_blank" class="btn btn-link">
                <i class="fab fa-facebook"></i>
            </a>
            <a href="https://www.instagram.com/florgranucci/?hl=es-la" target="_blank" class="btn btn-link">
                <i class= "fab fa-instagram"></i>
            </a>
            <a href="https://twitter.com/Flor_Granucci" target="_blank" class="btn btn-link">
                <i class="fab fa-twitter"></i>
            </a>
        </div>
      </div>
</div>